{% extends 'base.html' %}
{% load static %}



{% block title %}Пользователь{% endblock %}



{% block menu %}



    <li><a href="#">Смена пароля</a></li>

{% endblock %}



{% block content %}




    <header>
        <div class="container">
            <div class="profile">
                <div class="profile-image">
                    <img src="{{ user_obj.avatar.url }}" alt="">
                </div>
                <div class="profile-user-settings">
                    <h1 class="profile-user-name">{{user_obj.get_full_name|default:user_obj.username}} </h1>
                    {% if request.user == user_obj %}
                    <a href="{% url 'change' user_obj.pk %} ">
                        <button class="btn profile-edit-btn">Edit Profile</button>
                    </a>

                    {% else %}
                    <form action="{% url 'follow_account' user_obj.pk %}">
                        <input type="submit" class="btn profile-edit-btn" value="Подписаться">
                    </form>


                    {% endif %}
                    <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>
                </div>
                <div class="profile-stats">
                    <ul>
                        <li><span class="profile-stat-count">{{user_obj.posts.count}} </span> posts</li>
                        <li><span class="profile-stat-count">{{user_obj.subscriptions.count}}</span> followers</li>
                        <li><span class="profile-stat-count">{{user_obj.subscribers.count}}</span> following</li>
                    </ul>
                </div>
                <div class="profile-bio">
                    <p><span class="profile-real-name">{{ user_obj.get_full_name|default:user_obj.username}} </span>  📷✈️🏕️</p>
                    <p><span class="profile-real-name">Email: {{user_obj.email}} </span></p>
                </div>
            </div>
            <!-- End of profile section -->
        </div>
        <!-- End of container -->
    </header>
    <main>
        <div class="container">
            <div class="gallery">
                {% for post in user_obj.posts.all %}
                <div class="gallery-item" tabindex="0">
                    <a href="{% url 'post_detail' post.id %}">
                        <img src="{{post.image.url}}" class="gallery-image" alt="post_pic">
                    </a>

    
                </div>
                {% endfor %}
                
                </div>
    
            </div>
            <!-- End of gallery -->
    
            <div class="loader"></div>
    
        </div>
        <!-- End of container -->
    
    </main>


{% endblock %}