{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Instagram {% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-wrapper">
            {% if user.is_authenticated %}
            <a href="{% url 'profile' user.pk %}">
                <img src="{% static "media/img/logo.PNG" %} " class="brand-img" alt="">
            </a>
        {% else %}
            <a href="{% url 'login' %}">
                <img src="{% static "media/img/logo.PNG" %} " class="brand-img" alt="">
            </a>
        {% endif %}

            <form class="text-center" action="" method="GET">
                {% csrf_token %}
                <input type="text" class="search-box" placeholder="search">
                <button type="submit" class="btn btn-primary" value="Search">Search</button>
            </form>

            <div class="nav-items">
                {% if user.is_authenticated %}
                    <a href="{% url 'profile' user.pk %}">
                        <img src="{% static "media/img/home.PNG" %}" class="icon" alt="">
                    </a>
                {% else %}
                    <a href="{% url 'login' %}">
                        <img src="{% static "media/img/home.PNG" %}" class="icon" alt="">
                    </a>
                {% endif %}
                {% if user.is_authenticated %}
                <a href="{% url 'add_post' %} ">
                    <img src="{% static "media/img/add.PNG" %}" class="icon" alt="">
                </a>
                {% endif %}
                <a href="{% url 'accounts' %} ">
                    <img src="{% static "media/img/explore.PNG" %} " class="icon" alt="">
                </a>

                {% block menu %}{% endblock %}
                <div class="icon user-profile"></div>
            </div>
        </div>
    </nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>